<!DOCTYPE html>
<html>
<head>
    <title>blog.impl.cc</title>
    <meta charset="utf-8">
    <style>
        body {
            color: #FEFEFE;
            background-color: #0c0d10;
            margin: 0 auto;
            padding: 1em 0 1em 0;
        }
        h1, h3 {
            text-align: center;
        }
        table {
            border-collapse: separate;
            border-spacing: 1px;
            table-layout: fixed;
            margin-left:auto;
            margin-right:auto;
        }
        td {
            border-spacing: 0px;
        }
        @font-face { font-family: "gohu"; src: url("/static/gohu.woff") format('woff'); }
        pre { font-family: "gohu", "Lucida Console", monospace, Monaco; font-size: 14px; line-height: 1.0; }
        a { color: #93ffd7; text-decoration: none; }
    </style>
</head>

<body>
<center><div style="display: inline-block; text-align: left;">
<pre>
                                           ┌───────────────────────┐
                                           │████  █████  ███  ████ │
                                           │█   █ █     █   █ █   █│
                                           │█   █ ███   █████ █   █│
                                           │█   █ █     █   █ █   █│
                                           │████  █████ █   █ ████ │
┌── <a href="/">blog</a> ── <a href="/p/about">about</a> ─────────────────────────┴───────────────────────┘
├┐
└┘
</pre>
<table width="600">
<tr><td>

