
</td></tr>
</table>
<pre>
┌┐
└┤
 └─────────────────────────────────────────┬───────────────────────┐
                                           │ ████  ███  ████  █████│
                                           │█     █   █ █   █ █    │
                                           │█     █   █ █   █ ███  │
                                           │█     █   █ █   █ █    │
                                           │ ████  ███  ████  █████│
                                           └───────────────────────┘

made without love and <a href="https://github.com/lnslbrty/cpp-web">cpp-web</a>, theme inspired by <a href="https://tmpout.sh">tmpout.sh</a>
</pre>
</div></center>
</body></html>
